@charset "UTF-8";
.arrow-up {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #fff;
}

header {
  background-color: #ffffff;
  height: 100px;
}

footer {
  background-color: #171a2b;
  padding: 1.875rem 0;
}

.login-footer {
  background-color: #ffffff;
}

.box-shadow {
  box-shadow: 0px 0px 8px rgba(196, 200, 211, 0.2);
}
.border-bottom{
  border-bottom: 1px solid #dddde1;
}
.border-bottom:nth-last-of-type(1){
  border-bottom: none;
}
.helve {
  font-family: "HelveticaCondensed";
}

.helveBold {
  font-family: "HelveticaCondensed bold";
}

.sanBold {
  font-family: "sanfranciscodisplay bold";
}

.img-border-white {
  border: 2px solid #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.warning-info.off {
  display: none;
}

.dialog-info {
  padding: 50px 0;
}

.isHidden {
  display: none !important;
}

.nav-shoppingCart {
  position: relative;
  width: 26px;
  height: 30px;
  display: inline-block;
  margin-top: 2.5rem;
}

.nav-shoppingCart .shoppingCart-number {
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: 0.3rem;
  right: 0rem;
  background-color: #f83a3a;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-shoppingCart .shoppingCart-number.hidden {
  display: none;
}

.btn-wish:after {
  content: "\e60d";
}

.btn-wish.active {
  -webkit-animation-name: wishheart;
          animation-name: wishheart;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  color: #f83a3a;
}

.btn-wish.active:after {
  content: "\e60d";
}

@-webkit-keyframes wishheart {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes wishheart {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.tiles-wrap {
  position: relative;
  padding: 0;
}

.tiles-wrap li {
  display: block;
  float: left;
  cursor: pointer;
  text-align: center;
  opacity: 1;
  width: 272px;
  padding: 10px;
}

.tiles-wrap .img-daily {
  border-radius: 0.375rem 0.375rem 0 0;
  display: block;
}

.wishlist-wrap {
  margin-top: -10px;
}

.wishlist-wrap li {
  width: 285px;
}

.daily-item {
  border-radius: 0.375rem;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.daily-item:hover {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
}

.bannerSwiper-container {
  width: 100%;
  height: 100%;
  height: 500px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.daily-info {
  background: #ffffff;
  border-radius: 0 0 0.375rem 0.375rem;
}

.banner-container {
  position: relative;
  top: -50%;
}

.banner-container .swiper-button-next, .banner-container .swiper-button-prev {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}

.product-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #171a2b;
}

.product-price {
  font-size: 1.875rem;
}

.productImg-list .productImg-item {
  position: relative;
  display: block;
  float: left;
  width: 110px;
  padding-bottom: 1px;
}

.swiper-button-prev, .swiper-button-next {
  width: 35px;
  height: 35px;
  padding: 8px;
  background-size: 15px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  top: 60%;
}

.option-item > div {
  float: left;
}

.input-engraving {
  max-width: 320px;
}

.icon-checkcircle.active {
  color: #6d91ff !important;
}

.product-heart {
  color: #7f7f7f;
}

.product-heart.active {
  color: #f83a3a;
}

.product-heart:hover {
  cursor: pointer;
}

.productList-item {
  border-radius: 0.375rem;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(196, 200, 211, 0.2);
  margin-bottom: 20px;
  position: relative;
}

.productList-item:hover .bg-heart {
  opacity: 0;
}

.productList-item:hover .btn-heart {
  opacity: 1;
}

.productList-item:hover {
  box-shadow: 0px 0px 8px rgba(196, 200, 211, 0.8);
}

.productList-item .bg-heart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  opacity: 0;
}

.productList-item .btn-heart {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
}

.productList-item .price-caption {
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: white;
}

.cart-product-title {
  padding-left: 1.75rem;
}

.cart-price {
  display: inline-block;
  text-align: left;
  min-width: 75px;
  margin-left: 25px;
}

.btn-toCheckout {
  max-width: 300px;
  display: inline-block;
}

.cartProduct-item {
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cartProduct-item .mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.5);
}

.shopbag-empty-content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  min-height: 24rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.shopbag-empty-content .shopbag-emptyInfo {
  width: 100%;
}

.shopbag-empty-content .btn-shopbagEmpty {
  font-size: 6rem;
}

.vertical-middle {
  display: table;
}

.vertical-middle > div {
  display: table-cell;
  height: 100%;
  min-height: 100%;
  vertical-align: middle;
  float: none !important;
}

.checkout-Item .media-left {
  min-width: 120px;
}

.checkout-Item .media-body {
  border-bottom: 1px solid #dddde1;
}

.checkout-Item .no-border {
  border-bottom: none;
}

.address-content {
  display: block;
}

.btn-showHide:hover, .btn-codeShowHide:hover {
  cursor: pointer;
}

.promotionCode {
  position: relative;
}

.promotionCode .btn-codeShowHide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.promotionCode .showHide-body {
  z-index: 10000;
}

.select-country {
  height: 2.625rem;
}

.btn-showHide .showHide-simpleInfo {
  opacity: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-showHide.active .showHide-simpleInfo {
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.showHide-body {
  display: none;
}

.showHide-body.active {
  display: block;
}

.address-item {
  position: relative;
  overflow: hidden;
  border: 1px solid #dddde1;
}

.address-item .bg-address {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.address-item .btn-edit {
  position: absolute;
  right: 10px;
  top: 5px;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.address-item .btn-delAddress {
  position: absolute;
  right: 4rem;
  top: 5px;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.address-item .btn-addPrimary {
  position: absolute;
  bottom: -3.75rem;
  right: -3.75rem;
  width: 6.5rem;
  height: 6.5rem;
  background: #36405b;
  color: #fff;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 5px;
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.address-item .btn-addPrimary i {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.address-item .primary-address {
  position: absolute;
  right: 5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.address-item:hover, .address-item.active {
  border: 1px solid #36405b;
  cursor: pointer;
}

.address-item:hover .bg-address, .address-item.active .bg-address {
  opacity: 0;
}

.address-item:hover .btn-edit, .address-item:hover .btn-delAddress, .address-item:hover .btn-addPrimary, .address-item:hover .primary-address, .address-item.active .btn-edit, .address-item.active .btn-delAddress, .address-item.active .btn-addPrimary, .address-item.active .primary-address {
  opacity: 1;
}

.add-address, .select-address {
  display: block;
}

.add-address.disabled, .select-address.disabled {
  display: none;
}

.input-promotion {
  min-width: 20rem;
}

.shopping-methodPrice.hidden {
  display: none;
}

.promotion-code.hidden {
  display: none;
}

.login-title {
  font-size: 3.125rem;
  overflow: hidden;
}

.login-container {
  background: url("../images/login/bg-login.jpg") #ecf0ef left center no-repeat;
  padding-left: 7rem;
  min-height: 37.5rem;
  display: -webkit-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  overflow: hidden;
}

.login-container .login-content {
  max-width: 22rem;
  width: 100%;
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.login-container .login-content.hidden {
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.login-container .login-content.active {
  -webkit-transition: all .5s .5s ease;
  transition: all .5s .5s ease;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.login-container .restPwd-content {
  max-width: 22rem;
  width: 100%;
  opacity: 1;
  -webkit-transition: all .5s .5s ease;
  transition: all .5s .5s ease;
}

.login-container .restPwd-content.hidden {
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.login-container .restPwd-content.active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.login-ad-container {
  background: url("../images/login/bg-loginAd.jpg") #918f98 right center no-repeat;
  min-height: 37.5rem;
  background-size: cover;
}

.login-text {
  position: relative;
}

.login-text .input-login {
  padding: 12px 15px;
}

.login-text .input-clear, .login-text .input-show {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.login-text .input-clear.hidden, .login-text .input-show.hidden {
  display: none;
}

.login-or {
  position: relative;
}

.login-or .hr-login {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  display: block;
  z-index: 10;
  border-color: #8f9096;
}

.login-or span {
  z-index: 100;
  position: relative;
  background-color: #ecf0ef;
}

.btn-facebook {
  background-color: #3b5997;
  color: #fff;
}

.btn-facebook:hover {
  color: #fff;
  background-color: #30487a;
}

.btn-facebook:focus, .btn-facebook:active {
  color: #fff;
  background-color: #24365c;
}

.btn-google {
  background-color: #d14333;
  color: #fff;
}

.btn-google:hover {
  color: #fff;
  background-color: #b33628;
}

.btn-google:focus, .btn-google:active {
  color: #fff;
  background-color: #922c21;
}

.register-container {
  background: url("../images/login/bg-register.jpg") #ecf0ef center center no-repeat;
  min-height: 37.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.register-container .register-content {
  margin: 0 auto;
  max-width: 24rem;
  width: 100%;
}

.product-category {
  box-shadow: 0px 2px 7px rgba(196, 200, 211, 0.5);
}

.category-item {
  text-align: center;
  color: #36405b;
  opacity: .6;
  font-size: .875rem;
  min-width: 7.25rem;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.category-item img {
  width: 45px;
  height: 45px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.category-item.active, .category-item:hover {
  color: #36405b;
  border-bottom: 4px solid #36405b;
  opacity: 1;
  font-size: 1.125rem;
}

.category-item.active img, .category-item:hover img {
  width: 54px;
  height: 54px;
}

.designer-item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 102%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myHome-content {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: .5rem;
}

.leftMeun {
  float: left;
  width: 240px;
  height: 100%;
}

.leftMeun .nav-item {
  border-left: 4px solid #ffffff;
}

.leftMeun .nav-item a {
  color: #36405b;
}

.leftMeun .nav-item.active, .leftMeun .nav-item:hover {
  border-left: 4px solid #6d91ff;
}

.leftMeun .nav-item.active a, .leftMeun .nav-item:hover a {
  color: #6d91ff;
}

.right {
  float: right;
  margin: 0 -275px 0 0;
  width: 100%;
  height: 100%;
}

.rightContent {
  margin: 0 270px 0 0;
}

.mH {
  min-height: 736px;
}

.changePwd-title {
  display: block;
  min-width: 13rem;
  text-align: right;
}

.changePwd-input {
  width: 100%;
  max-width: 25rem;
}

.orderDetail-title {
  min-width: 6.25rem;
  display: inline-block;
}

.orderInfo-title {
  min-width: 12.5rem;
  vertical-align: top;
}

.changeName-title {
  display: block;
  min-width: 6rem;
  text-align: right;
}

/*个人中心下拉框*/
.dropdown-nav-hover li {
  padding: 3px 0 3px 0;
}

.dropdown-nav-hover li a {
  border-left: 2px solid #ffffff;
  padding: 5px 0 0 15px;
  display: block;
}

.dropdown-nav-hover li a:hover {
  border-left: 2px solid #6d91ff;
}

.dropdown-nav-hover li.active a {
  color: #6d91ff;
  border-left: 2px solid #6d91ff;
}

.header-img {
  position: relative;
}

.header-img:hover .dropdown-img {
  display: block;
}

.header-img .dropdown-img {
  min-width: 160px;
  background-color: #ffffff;
  border-top: 2px solid #6d91ff;
  box-shadow: 0px 2px 7px rgba(196, 200, 211, 0.5);
  position: absolute;
  top: 98px;
  right: 10px;
  z-index: 9;
  display: none;
}

.header-img .dropdown-img .triangle-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #6d91ff;
  position: absolute;
  right: 13px;
  top: -7px;
}

.topic-wrap {
  max-width: 572px;
  margin: 0 auto;
}

.topic-wrap h2 {
  color: #070e2a;
  font-size: 24px;
}

.topic-wrap p {
  font-size: 16px;
}

.topic-wrap img {
  width: 100%;
}

.content-wrap {
  padding: 40px 0 50px;
}

.content-wrap a {
  color: #007afc;
}

.content-wrap .content {
  min-height: 570px;
  padding: 30px 20px 30px;
}

.content-wrap .content .btn-facebook {
  display: inline-block;
  padding: 3px 15px;
  color: #ffffff;
  background-color: #3b5997;
  border-radius: 10px;
  margin-left: 5px;
}

.wishlist-item {
  margin-bottom: 0px;
}

.empty-content {
  min-height: 38rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.empty-content .iconfont {
  font-size: 6rem;
}

.order_comfirmed_content {
  min-height: 38rem;
  /* Safari */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player-item {
  position: relative;
  height: 100%;
}

.player-item .bg-player {
  position: absolute;
  background-color: #333;
  top: 0;
  width: 100%;
  height: 100%;
}

.player-item .bg-img {
  opacity: .7;
  width: 100%;
  height: 100%;
}

.player-item .btn-beginPlayer {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  width: 100%;
  text-align: center;
}

.player-item .designer-beginPlayer {
  display: none;
}

.player-item .btn-morePlayer {
  position: absolute;
  right: 10px;
  bottom: 15px;
}

.player-item .btn-morePlayer a {
  padding: 6px 9px 7px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background: rgba(0, 0, 0, 0.3);
}

.head-file {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  text-indent: 0;
}

.head-file input {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  right: 0;
  top: 0;
  opacity: 0;
}

.profile-info {
  position: relative;
}

.uploadProfile-loading {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  width: 100%;
  text-align: center;
}

.bg-uploadProfileLoading {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  right: 0;
  top: 0;
  opacity: 0.6;
  background-color: white;
  display: none;
}

.uploadProfile-loading .loader::after {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 1200px) {
  .login-header {
    height: 70px;
  }
  .login-header .navbar-primary .nav-logo {
    margin-top: .875rem;
  }
  .login-header .navbar-primary .nav-link {
    line-height: 70px;
  }
  .login-title {
    font-size: 2rem;
    padding-top: 0.875rem !important;
    padding-bottom: 0.875rem !important;
  }
  .login-footer {
    padding: 1rem !important;
  }
  .loginFooter-contactUs {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 544px) {
  .login-container {
    padding: 2.5rem;
    min-height: 37.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .login-container .login-content {
    min-width: 100%;
  }
  .login-container .restPwd-content {
    min-width: 100%;
  }
}

@media (max-width: 992px) {
  .mask {
    width: 100% !important;
  }
}

